[submodule "Companies"]
	path = Companies
	url = git@github.com:TactilApp/OperadorApp-Companies.git
[submodule "ThirdParty/ElementParser"]
	path = ThirdParty/ElementParser
	url = https://github.com/Objective3/ElementParser.git
[submodule "ThirdParty/ASIHTTPRequest"]
	path = ThirdParty/ASIHTTPRequest
	url = https://github.com/pokeb/asi-http-request.git
