[submodule "Companies"]
	path = Companies
	url = git@github.com:TactilApp/OperadorApp-Companies.git
[submodule "ThirdParty/ElementParser"]
	path = ThirdParty/ElementParser
	url = git@github.com:Objective3/ElementParser.git
[submodule "ThirdParty/AFNetworking"]
	path = ThirdParty/AFNetworking
	url = git@github.com:patoroco/AFNetworking.git
[submodule "ThirdParty/MBProgressHUD"]
	path = ThirdParty/MBProgressHUD
	url = git@github.com:jdg/MBProgressHUD.git
